---

---

@charset "utf-8";


// define variable with front matter
{% if site.data.data.sidebar.position == 'left' %}
$resume-order: 2;
$sidebar-order: 1;
{% else %}
$resume-order: 1;
$sidebar-order: 2;
{% endif %}

@import "skins/{{ site.theme_skin | default: 'blue' }}"; // skin
@import "default"; // main partials

:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --link-color: #1a0dab;
    /* Add other variables as needed */
  }
  
  /* Dark theme variables */
  [data-theme='dark'] {
    --background-color: #121212;
    --text-color: #ffffff;
    --link-color: #8ab4f8;
    /* Add other variables as needed */
  }